.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: rgb(126, 111, 211);
    height: 50px;
    font-size: 16px;
    color: rgb(235, 193, 193);
    padding:0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background-color: rgb(126, 111, 211);
    height: 50px;
    font-size: 16px;
    color: rgb(235, 193, 193);
    padding:20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color:darkgray;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 5px 9px;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin-top: 15px;
    float: right;
    animation: fadeIn 1s 1.4s backwards;
    white-space: nowrap;

    &:hover {
      background: darkgray;
      color: #333;
    }
  }
}

.info-map {
  position: absolute;
  background-color: #280258;
  top:80px;
  right:30%;
  z-index:999999;
  padding: 20px;
  color: bisque;
  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: 80;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards ;

  span {
    font-size: 14px;
    display: block;
    padding-top: 10px;
    color:#a76c7f;
  }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 40%;
  height: 80%;
  padding: 0;
  margin-top: 100px;
  margin-right: 25px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

